/* wrap  */
#wrap {
    width: 100%;
    height: 100vh;
}
.dark {
    background-color: #252423
}

/* layout  */
#wrap { 
    display: flex;
}
#cate {
    width: 240px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.65);
}
#menu {
    width: 260px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.65);
}
#desc {
    position: relative;
    width: calc(100% - 500px);
    height: 100%;
}

/* logo */
#logo {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.65);
}
#logo h1 a {
    font-weight: 200;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 1px 20px 0 20px;
}

/* menu */
#menu h2 {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.65);
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    padding: 1px 20px 0 20px;
    color: #FF4B4B;
}

/* desc */
#desc h2 {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.65);
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    padding: 1px 20px 0 20px;
    color: #FF4B4B;
}
#desc #nav {
    position: absolute;
    right: 20px;
    top: 20px;
}
#desc #nav li {
    display: inline;
}
#desc #nav a {
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 10px;
    font-size: 16px;
}


/* category */
.category {
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}
.category a {
    color: #fff;
}
.category__title {
    color: #FF4B4B;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
}
.category__sub__list li {
    position: relative;
}
.category__sub__list li:before {
    content: '';
    width: 1px;
    height: 12px;
    background: #fff;
    position: absolute;
    left: 0; 
    top: 4px;
}
.category__sub__list li a {
    padding-left: 8px;
    display: inline-block;
    position: relative;
}
.category__sub__list li.active a {
    border-color: #FF4B4B;
    color: #FF4B4B;
}
.category__sub__list li.active::before {
    background: #FF4B4B;
}